#fig-cern {
  font-size: 0.5em;
}
/* Blue stats box */
.bluebox {
  background-color: #7aa2c2;  /* sea colour */
  color: white;
  padding: 0rem 2rem;
  border-radius: 0px; /*increase this for rounded corners*/
  height: 100%;              /* fill full column height */
}
